html,
body {
    overflow-x: hidden;
    font-family: 'Titillium Web', sans-serif;
    font-weight: 100;
    background: linear-gradient(0.25turn, #76adda,#54a158);
    letter-spacing: 2px;
    line-height: 1.5;
}

* {
    margin: 0;
    padding: 0px;
    box-sizing: border-box;
}

.page_content {
    display: block;
    box-sizing: border-box;
}

/*---------------------------2nd part of the CSS : the Header contente-------------------------*/

.background {
    width: 100vw;
    height: 55vh;
    background-image: url("../img/wallpaper3.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center; 
    display: flex;
    justify-content: center;
    align-items: center;
}

.photo_profile{
    margin-top: 5px;
}
.photo_profile img{
    border-radius: 46%;
}

.top_page_profile{    
    background-color: whitesmoke;
    text-align: center;
    border-radius: 6%;
    width: 200px;
    height: 220px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.801);
}

/*------------------------4th part of the CSS : Customization of the footer of the page------*/

.footer {
    position: absolute;
    width: 100%;
    height: 450px;
    background-color: #111111;
    color : rgb(233, 229, 250);
}

.Tittlestyle2 {
    margin-top: 1vh;
    margin-left: 25%;
    width: 50%;
    height: 5vh;
    font-size: larger;
    text-transform: uppercase;
    text-decoration: overline;
}

.flex {
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer button{
    margin-left: 1%;
}


button {
    padding: 10px;
    border-radius: 30px;
    transition-duration: 0.4s;
    border: none;
    background-color: #111111;
}

button:hover {
    cursor: pointer;
    box-shadow: 0 4px 8px 0 rgba(255, 255, 255, 0.801);
}




