/*------------------------3rd part of the CSS : Customization of the content of the page------*/

.main_Content{
    margin-left: 10vh;
    margin-right: 10vh;
    justify-self: center;
    align-items: center;
}

/*--------------------------About-------------------------------*/
#about {
    margin-top: 2vh;
    margin-bottom: 5vh;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    background-color: #111111;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.801);
    width: 100%;
    height: 40vh;
    color: rgb(233, 229, 250);
}


.left_section {
    text-align: justify;
    margin-top: 1vh;
    margin-right: 2vw;
    margin-left: 2vw ;
    width: 50%;
}
.right_section {
    text-align: justify;
    margin-top: -5.5vh;
    margin-right: 2vw;
    margin-left: 1vw ;
}
.right_section li {
    list-style: none;
    list-style-position: inside;
}
.left_section .quali_perso li{
    list-style-position: inside;
}

#about h2 {
    text-transform: uppercase;
}

/*--------------------------Experience---------------------------*/
.Tittlestyle {
    margin-top: 10vh;
    margin-left: 25%;
    width: 50%;
    height: 5vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: larger;
    text-transform: uppercase;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.801);
    border-radius: 50%;
    background-color: whitesmoke;
}

#work{
    margin-top: 5vh;
    display: inline-block;
    justify-content: center;
    align-items: center;
    width: 100%;
    color: rgb(233, 229, 250);
}

#work img{
    width: 450px;
    height: 200px;

}

.cardx{
    display: flex;
    align-items: center;
    margin-top: 1vw;
    height: 25vh;
    background-color: #111111;
   
}
.stylex {
    text-align: justify;
    margin-left: 10vh ;
    margin-right: 10vh;
}

.logox {
    margin-left: 2vw;
    background-color: white;
}


/*--------------------------Formations---------------------------*/

.T-formation {
    margin-top: 10%;
    margin-bottom: 5%;
}

#education {
    margin-bottom: 10%;
    width: 100%;
    display: grid;
    gap : 1.5rem;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    grid-auto-rows: 240px;
}

.formx{
    position:relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    overflow: hidden;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.801);
}

.formx:before{
    content:"";
    position: absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background-size: cover; 
    background-position: center center;
}
.descriptx{
    opacity: 0;
    z-index: 1;
    position: absolute;
    top: 40%;
    left: 0;
    transition: all 0.8s cubic-bezier(0.165, 0.84, 0.44, 1);
    margin-left: 30px;
    margin-right: 50px;
}
.formx:hover .descriptx{
    opacity: 1;
    top: 15%;
    color: white;
    margin-left: 30px;
    margin-right: 30px;
}

.formx:hover:before {
    opacity: 0.15;
    
}

.form1:before{
    background-image: url('../img/img_ecole/ynov.png'); 
}

.form2:before{
    background-image: url('../img/img_ecole/CNAM.png'); 
}
.form3:before{
    background-image: url('../img/img_ecole/ENOES.jpg'); 
}
.form4:before{
    background-image: url('../img/img_ecole/PoleSupMonta.jpg'); 
}
.form5:before{
    background-image: url('../img/img_ecole/Monta.png'); 
}


/*--------------------------Competences--------------------------*/
#skill {
    margin-top: 8vh;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.801);
    border-radius: 20px;
    width: 100%;
    background-color: #111111;
    color: rgb(233, 229, 250);
}

#skill h3 {
    font-size:large;
    text-transform: uppercase;
    text-decoration: overline;
}

#skill li {
    list-style-type: none;
}

.padding {
    padding: 2vh;
}

.photo-grid2 {
    display: grid;
    gap: 5%;
    grid-template-columns: repeat(auto-fit, minmax(100px, 2vw));
    grid-auto-rows: 100px;
    margin-top: 2vh;
    width: 100%;
}

.tittlestyle2 {
    margin-left: 5%;
    margin-bottom: 2%;
    width: 60%;
    display: flex;
}


/*--------------------------Loisirs------------------------------*/

.tittlestyle3{
    margin-top: 5%;
    margin-left: 25%;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size:large;
    text-transform: uppercase; 
}

/*-----Sports------*/
.photo-grid {
    display: grid;
    gap : 1rem;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    grid-auto-rows: 240px;
    margin-top: 8vh;
    width: 100%;
    margin-bottom: 5vh;
}
.photo-tall{
    grid-row: span 2 / auto;
}

.photo-wide {
    grid-column: span 2 / auto;
}

.photoeffect {
    position:relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    overflow: hidden;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.801);
}
.photoeffect:before{
    content:"";
    position: absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background-size: cover; 
    background-position: center center;
}
.textx{
    opacity: 0;
    z-index: 1;
    position: absolute;
    top: 40%;
    left: 0;
    transition: all 0.8s cubic-bezier(0.165, 0.84, 0.44, 1);
    margin-left: 30px;
    margin-right: 50px;
}
.photoeffect:hover .textx{
    opacity: 1;
    top: 30%;
    color: white;
    margin-left: 30px;
    margin-right: 50px;
}
.photoeffect:hover:before {
    opacity: 0.2; 
}

.photo1:before {
    background-image: url('../img/img_hobbies/basket.jpg');
}
.photo2:before {
    background-image: url('../img/img_hobbies/Judo.jpg');
}
.photo3:before {
    background-image: url('../img/img_hobbies/Velo_Peugeot_Road_Desktop\ 02.jpg');
}
.photo4:before {
    background-image: url('../img/img_hobbies/Street\ Workout.jpg');
}

/*-------Interêts-----*/

.photo5:before {
    background-image: url('../img/img_hobbies/Sports\ Automobiles.jpg');
}
.photo6:before {
    background-image: url('../img/img_hobbies/Moto.jpg');
}
.photo7::before {
    background-image: url('../img/img_hobbies/architecture.jpg');
}
.photo8:before {
    background-image: url('../img/img_hobbies/echecs.jpg');
}
.photo9:before {
    background-image: url('../img/img_hobbies/Informatique.jpg');
}
.photo10:before {
    background-image: url('../img/img_hobbies/jeux\ videos.jpg');
}

