/*------------------------Responsive for Laptop ---------*/
@media only screen and (min-width: 2152px){
    /* .main_Content {
        margin-left: 50vh;
        margin-right: 50vh;
    } */
    
}
@media only screen and (min-width: 1720px){
    /* .main_Content {
        margin-left: 30vh;
        margin-right: 30vh;
    } */
    
}